@import "../styles/main.scss";

$sidebarWidthCollapsed: 92px;
$sidebarWidth: 248px;
$headerHeight: 92px;

.AppLayout {
  $this: &;

  height: 100%;

  &--isCollapsed {
    //если меню свернуто, то применяем стили ниже, свойства будут перезаписаны
    #{$this}__sidebar {
      width: $sidebarWidthCollapsed;
    }
    #{$this}__header {
      left: $sidebarWidthCollapsed;
    }
    #{$this}__container {
      padding-left: $sidebarWidthCollapsed;
    }
  }

  &__sidebar {
    border-right: 1px solid lightgrey;
    height: 100%;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transition: width 0.3s;
    width: $sidebarWidth;
    z-index: $zindex-fix-layout;
  }

  &__header {
    align-items: center;
    background-color: white;
    display: flex;
    height: $headerHeight;
    left: $sidebarWidth;
    padding: 0 var(--app-layout-gorizontal-padding);
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.2s;
    z-index: $zindex-fix-layout;
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: $sidebarWidth;
    padding-top: $headerHeight;
    position: fixed;
    right: 0;
    top: 0;
    transition: 0.2s;
    width: 100%;
  }

  &__content {
    flex-grow: 1;
    height: 100%;
    padding: 0 var(--app-layout-gorizontal-padding);
  }
}
