.DialogItem {
  align-items: center;
  display: flex;
  margin-bottom: 5px;

  &__img {
    border: solid 1px;
    border-radius: 50%;
    margin-right: 5px;
    width: 40px;
  }

  &__active {
    color: gold;
  }
}
