.header {
    grid-area: h;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_photo {

}

.header_photo img {
    max-width: 50px;
}

.header_login {
    margin: 10px;
}
